p{
    /*text-align: justify;*/
}
.figure{
    margin-bottom: 10px;
}
figure{
    /*background-color: #333;*/
    width:330px;
    max-width: 100%;
    margin: auto;
    padding:5px 5px 0 5px;
}
figure img{
    max-width: 100%;
}
.figure a, .figure a:hover{
    /*color:#84dcef;*/
    /*color:white;*/
}