/*
LAYOUT
*/

/* Header */

header{
    padding: 15px;
    /*background-color: #fafafa;*/
}

.title-logo h1{
    display: none;
}

.title{
    float: right;
}

.img-header{
    background-color: #2b2b2b;
}

.img-header > .container{
    position: relative;
    height: 300px;
    overflow: hidden;
}

.img-header > .container > img{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
}


/*
GENERAL
*/

a, a:hover{
    color:#b91818;
}

/*
SPECIES
*/


aside{
    background-color: #fafafa;
}

.species-map{
    width: 100%;
}

.references{
    font-size: small;
    word-wrap: break-word;
}