/*
LAYOUT
*/

/* Header */

header{
    padding: 15px;
    /*background-color: #fafafa;*/
}

.title-logo h1{
    display: none;
}

ul.nav{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: inline;
    float: right;
}

ul.nav li{
    float: left;
}

.title{
    font-size: 36px;
    z-index: 1;
    position: absolute;
    font-weight: bold;
    font-style: italic;

    color: white;
    /* background-color: white; */
     padding: 5px;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

.img-header{
    background-color: #2b2b2b;
}

.img-header > .container{
    position: relative;
    height: 300px;
    overflow: hidden;
}

.img-header > .container > img{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
}


/*
GENERAL
*/

a, a:hover{
    color:#b91818;
}

/*
SPECIES SHOW
*/


aside{
    background-color: #fafafa;
    padding-bottom: 20px;
    padding-top: 20px;
}

aside > h3:first-child{
    margin-top: 0;
}

.species-map{
    width: 100%;
}

.references{
    font-size: small;
    word-wrap: break-word;
    background-color: #fafafa;
}

.image-gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*
MEDIA QUERIES
*/

.image-gallery .species-image{
    width: 48%;
    float: left;
}

.ref-mobile{
    display: none;
}

@media (max-width: 992px){

    .ref-mobile{
        display: block;
    }

    .ref-desktop{
        display: none;
    }
}

@media (min-width: 450px) and (max-width: 992px){

    .species-map{
        width: 60%;
    }

    .image-gallery .species-image{
        width: 30%;
        float: left;
    }
    }

/*
SPECIES EDIT
*/

.editor{
    max-height:50%;
}