@media print {
    .not-printed{
        display: none;
    }
}

.explanations{
    background-color: #333;
    color: white;
    font-size: 20px;
    padding: 40px;
}

.breakafter {
    page-break-after: always;
}

body{
    font-size: 9pt;
}
h3{
    font-size: 11pt;
}
h2{
    font-size: 11pt;
    font-weight: bold;
}
h1{
    font-size: 18pt;
    background-color: #444 !important;
    -webkit-print-color-adjust: exact;
    color: white !important;
    padding: 10px;
    text-align: center;
}

.summary ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

.maps{
    background: #ddd !important;
    -webkit-print-color-adjust: exact;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.maps figure{
    padding: 10px;
}

.references{
    font-size: 0.8em;
    padding:5px;
    margin-bottom:20px;
    margin-top: 10px;

    background-color: #eee !important;
    -webkit-print-color-adjust: exact;

    display: flow-root;
}

.references p{
    margin: 0 0 2px;
}

main p{
    text-align: justify;
}

.species-image{
    max-width: 40%;
    clear: both;
    float: right;
    margin: 0 0 20px 20px;
}